html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
	
}
.page{
	height:100%;
	overflow:auto;
	position:relative;
}
.banner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

.details-info {
	margin-top: 3.8rem;
	padding-bottom: .1rem;
	position: relative;
	z-index: 9;
}

.details-info .card {
	padding: .4rem .24rem 0;
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem;
}

.details-info .base-info .flex-1 {
	border-right: 1px solid #e6e6e6;
}

.details-info .base-info .name {
	color: #333;
	font-size: .34rem;
	font-weight: bold;
}

.details-info .base-info .tag a,
.details-info .base-info .tag {
	color: #2d86ff;
	font-size: .22rem;
}

.details-info .base-info .tag:after {
	content: '';
	background: url(../img/xq-jiantoulan@3x.png) no-repeat center center;
	background-size: .16rem auto;
	display: inline-block;
	width: .16rem;
	height: .16rem;
	margin-left: .3rem;
}

.details-info .base-info .tip {
	color: #999;
	font-size: .26rem;
	margin-top: .26rem;
}

.details-info .base-info .score {
	font-size: .36rem;
}

.details-info .base-info .commentNum {
	font-size: .2rem;
}

.details-info .base-info .commentNum:after {
	content: '';
	display: inline-block;
	height: .16rem;
	width: .16rem;
	background: url(../img/xq-jiantouhuang@3x.png) no-repeat center center;
	background-size: contain;
}

.details-info .base-info .flex-1+div {
	margin: 0 .1rem 0 .3rem;
	text-align: center;
	color: #ffab00;
	width: 1.4rem;
}

.details-info .base-info .star-rating {
	margin-top: .22rem;
}

.details-info .addr {
	color: #333;
	font-size: .26rem;
	line-height: .4rem;
	padding: .36rem .4rem .36rem 0;
	position: relative;
}

.details-info .addr:after {
	content: '';
	height: .24rem;
	width: .24rem;
	background: url(../img/xq-jiantouhui@3x.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	right: .15rem;
}

.details-info .addr i {
	display: block;
	height: .26rem;
	width: .26rem;
	background: url(../img/xq-weizhi-hui@3x.png) no-repeat center center;
	background-size: contain;
	margin-right: .26rem;
}

.details-info .addr span {
	color: #999;
	font-size: .22rem;
	margin-left: .54rem;
}

.spotsinfo {
	font-size: .26rem;
	color: #333;
	line-height: .4rem;
	padding-top: .33rem;
	padding-bottom: .33rem;
}

.spotsinfo label {
	width: 5em;
	color: #999;
}

.comment .tags .tag {
	font-size: .22rem;
	color: #343434;
	background: #ededed;
	line-height: .5rem;
	padding: 0 .3rem;
	border-radius: .5rem;
	display: inline-block;
}

.comment .tags .tag+.tag {
	margin-left: .2rem;
}

.comment .tags .tag.active {
	background: #ffe192;
}



/* 联系客服 */
.contact {
	box-shadow: 0 -.05rem .05rem rgba(0, 0, 0, .1);
	position: fixed;
	z-index: 999;
	background: #fff;
	text-align: center;
	color: #333232;
	font-size: .3rem;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 1rem;
}

.contact i {
	display: inline-block;
	height: .44rem;
	width: .44rem;
	background: url(../img/xq-kefu@3x.png) no-repeat center center;
	background-size: contain;
	vertical-align: middle;
}

.contact span {
	vertical-align: middle;
	margin-left: .2rem;
}

.swiper-pagination-fraction {
	top: 3.05rem;
	width: .8rem;
	left: auto;
	color: #fff;
	background: rgba(0, 0, 0, .5);
	border-radius: .5rem;
	line-height: .36rem;
	height: .36rem;
	font-size: .22rem;
	right: .24rem;
}

.headerbar {

	left: .24rem;
	right: .24rem;
}

.headerbar a {
	position: absolute;
	top: .6rem;
	height: .44rem;
	width: .44rem;
	background: no-repeat center center;
	background-size: contain;
}

.headerbar a.reback {
	background-image: url(../img/xp-fanhui@3x.png);
	left: .24rem;
}

.headerbar a.share {
	background-image: url(../img/xq-fenxiang@3x.png);
	right: .24rem;
}

.popup.mod-share {
	padding: .7rem .6rem .3rem;
	border-radius: 0;
	height:90%;
	overflow:auto;
}

.mod-share .mod-share-hd {
	position: relative;
}

.mod-share .mod-share-hd .close,
.win.win-share>div .win-share-hd .close {
	width: .32rem;
	height: .32rem;
	background: url(../img/dd-gunabi@3x.png) no-repeat center center;
	background-size: contain;
	display: block;
	position: absolute;
	right: -.36rem;
	top: -.5rem;
}

.mod-share .mod-share-bd .btnlist span {
	display: block;
	color: #333;
	font-size: .3rem;
	text-align: center;
	line-height: .6rem;
	border-radius: .5rem;
	background: #ffab00;
margin-bottom:.3rem;

}

.mod-share .mod-share-bd .btnlist span+span {
	margin-left: .25rem
}
.mod-share .mod-share-bd .sharebox {
	text-align:center;
	color:#333;
	font-size:.3rem;
}
.mod-share .mod-share-bd .sharebox img{
	display:block;
	width:100%;
}
.win {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .7);
	z-index: 999;
	display:none;
}

.win.win-share>div {
	position: absolute;
	background: #fff;
	left: .6rem;
	right: .6rem;
	border-radius: .15rem;
	top: 50%;
	transform: translateY(-50%);
	padding: .3rem .5rem .4rem;
	color: #666;
	font-size: .26rem;
	line-height: .36rem;
}

.win.win-share>div p+p {
	margin-top: .15rem;
}

.win.win-share>div .win-share-hd {
	color: #333;
	font-size: .3rem;
	text-align: center;
	position: relative;
}

.win.win-share>div .win-share-hd .close {
	top: 0;
	right: -.2rem;
}

.win.win-share>div .win-share-bd {
	margin-top: .55rem
}

.win .win-share-ft a {
	display: block;
	color: #333;
	font-size: .3rem;
	line-height: .66rem;
	text-align: center;
	width: 3rem;
	border-radius: .5rem;
	background: #ffab00;
	margin: .55rem auto 0;
}

/* 购买须知 */
.mod-buyinfo .popup-hd {
	line-height: 1rem;
	padding: 0 .6rem 0 .24rem;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	font-size:.36rem ;
	color: #333;
	font-weight: bold;
}
.mod-buyinfo .popup-hd .close{
	position: absolute;
	right: .24rem;
	top: .36rem;
	display: block;
	width: .29rem;
	height: .29rem;
	background: url(../img/riliguanbi@3x.png) no-repeat center center;
	background-size: contain;
}
.mod-buyinfo .popup-ft{
	height: .98rem;
	padding: 0 .24rem;
	font-size: .2rem;
}
.mod-buyinfo .popup-ft .price em{
	font-size: .36rem;
}
.mod-buyinfo .popup-ft:after{
	content: '';
	display: block;
	left: 0;
	right: 0;
	height: 1px;
	background: #e6e6e6;
	transform: translateY(.5);
	top: 0;
	position: absolute;

}
.mod-buyinfo .popup-ft .orderBtn{
	display: block;
	width: 3rem;
	height: .8rem;
	line-height: .8rem;
}
.shareBtn{
	position: fixed;
	bottom: 1.4rem;
	right: .18rem;
	display: block;
	height: .8rem;
	width: .8rem;
	background: rgba(0,0,0,.6);
	border-radius: 100%;
	z-index: 9;
	text-align: center;
	color: #fff;
	line-height: .8rem;
	font-size: .26rem;
	}