.page{
	padding: .2rem .24rem;
}
.mod-card{
	border-radius: .15rem;
	
}.mod-card.ticketinfo{
	padding: .4rem .38rem .24rem;
}
.mod-card.ticketinfo .title{
	font-size: .36rem;
	font-weight: bold;
	color: #333;line-height: .5rem;
}.mod-card.ticketinfo .know{
	color: #1e83ff;
	font-size: .26rem;
	position: relative;line-height: .5rem;
}.mod-card.ticketinfo .know:after{
	content: '';
	height: .2rem;
	width: .2rem;
	background: url(../img/jiantoulan20@3x.png) no-repeat center center;
	background-size: contain;
	display: inline-block;
	margin-left: .05rem;
}