@charset "utf-8";

html {
	/*如果有溢出自动形成滚动条*/
	overflow-y: auto;
	/*不想让iPhone横坚屏切换的时候调节文字*/
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html * {
	/*所有元素*/
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*去除移动端开发点击事件灰色背景如a标签*/
}

body,
html {
	height: 100%;
}

body {
	font-size: .24rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Pingfang SC", "Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", "WenQuanYi Micro Hei", Arial, sans-serif;

}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0 none;
	width: auto\9;
	max-width: 100%;
	vertical-align: top;
	height: auto;
}

img:not([src]),
img[src=""] {
	opacity: 0
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: 500;
}

ol,
ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 500;
}

q:after,
q:before {
	/*在<q></q>标签之间的文字两头加上引号*/
	content: '';
}

a {
	text-decoration: none;
}

/*input*/
button {
	border: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	-webkit-appearance: button;
	/*渲染成button的风格*/
	text-transform: none;
	outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
	/*输入框提示语的字体样式*/
}

input::-webkit-inner-spin-button {
	/*解决input的type="number"在部分手机端会出现一个小按钮*/
	-webkit-appearance: none;
	/*去除系统默认appearance的样式,常用于IOS下移除原生样式*/
}

input::-webkit-outer-spin-button {
	/*解决input的type="number"在部分手机端会出现一个小按钮*/
	-webkit-appearance: none;
}

textarea {
	vertical-align: top;
}

button,
input {
	line-height: normal;
}

select {
	margin: 0;
	outline: 0;
}

input.fixAKeyboard:focus,
textarea.fixAndroidKeyboard:focus {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-modify: read-write-plaintext-only;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
}

button,
input[type=button],
input[type=checkbox],
input[type=reset],
input[type=submit],
label {
	cursor: pointer;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

input[type=submit] {
	-webkit-user-modify: read-plaintext-only;
	-moz-user-modify: read-plaintext-only;
	-ms-user-modify: read-plaintext-only;
	-o-user-modify: read-plaintext-only;
	user-modify: read-plaintext-only;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type='search'] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	/*所有元素以border开始计算盒子大小*/
}
i,em{
	font-style: normal;
}
.clearfix:after,
.clearfix:before {
	/*清除浮动*/
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.flex {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
}


/*垂直显示*/

.flex-v {
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	/* overflow: hidden */
}


/*垂直对其方式*/
.flex-align-top {
	-webkit-box-align:flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start
}
.flex-align-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.flex-align-end {
	-webkit-box-align: flex-end;
	-webkit-align-items: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end
}

/*左右居中*/

.flex-pack-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}


/*两端对齐*/

.flex-pack-justify {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: .14rem;
}

.swiper-pagination-bullet {
	height: .12rem;
	width: .12rem;
	background: #fff;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background: #ffab00;
}

.bgfff {
	background: #fff;
}

.bgf5 {
	background: #f5f5f5;
}

.mt10 {
	margin-top: .1rem;
}

.mt15 {
	margin-top: .15rem;
}

.mt20 {
	margin-top: .2rem;
}

.mt30 {
	margin-top: .3rem;
}
.mt36 {
	margin-top: .36rem;
}

.mt40 {
	margin-top: .4rem;
}
.mt50 {
	margin-top: .5rem;
}

.ml15 {
	margin-left: .15rem
}

.ml20 {
	margin-left: .2rem
}.ml30 {
	margin-left: .3rem
}
.ml40 {
	margin-left: .4rem
}

.mr15 {
	margin-right: .15rem
}
.mr80 {
	margin-right: .8rem
}

.pd24 {
	padding: 0 .24rem;
}

.pt81 {
	padding-top: .81rem;
}

.c-blue {
	color: #008dff;
}

.c-yellow {
	color: #ffab00;
}

.c-grey {
	color: #999;
}
.c-red {
	color: #eb4747;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.modbox .modbox-hd {
	height: .9rem;
	padding: 0 .24rem;
}

.modbox .modbox-hd .right-arrow {
	height: .9rem;
	line-height: .9rem;
	position: relative;
}

.modbox .modbox-hd .right-arrow:after {
	content: '';
	display: block;
	height: .9rem;
	width: .26rem;
	background: url(../img/xq-gengduojiantou20@3x.png) no-repeat center center;
	background-size: contain;
	right: 0;
	position: absolute;
}

.modbox .modbox-hd .title {
	font-size: .36rem;
	color: #333;
}

.modbox .modbox-hd .thumb {
	font-size: .2rem;
	color: #fff;
	background: #ff5b5b;
	border-radius: .1rem;
	border-top-left-radius: 0;
	line-height: .36rem;
	padding: 0 .12rem;
}

.modbox .modbox-hd .more {
	color: #333;
	font-size: .3rem;
	position: relative;
	padding-right: .27rem;
}

.modbox .modbox-hd .more:after {
	content: '';
	display: block;
	width: .16rem;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../img/mp01-gengduo@3x.png) no-repeat center center;
	background-size: contain;
}

.modbox .modbox-bd {
	position: relative;
}

.filterbar {
	position: absolute;
	font-size: .26rem;
	border-bottom: 1px solid #f7f7f7;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 1;

}

.filterbar.active {
	position: fixed;
}

.filterbar .filter-item {
	/* position:relative; */
}

.filterbar .filter-item .title {
	line-height: .8rem;
	text-align: center;
}

.filterbar .filter-item .title i {
	height: .2rem;
	width: .2rem;
	display: inline-block;
	background: url(../img/mp01-xianzexiala@3x.png) no-repeat center center;
	background-size: contain;
}

.filterbar .filter-item.active .title {
	color: #ffab00;
}

.filterbar .filter-item.active .title i {
	background-image: url(../img/mp01-huangxiala@3x.png);
}

.filterbar .line {
	height: .3rem;
	width: 1px;
	transform: scaleX(.5);
	background: #ccc;
}

.filterbar .filter-item .list {
	position: absolute;
	top: .81rem;
	left: 0;
	right: 0;
	background: #fff;
	display: none;
	box-shadow: 0 .1rem .1rem rgba(0, 0, 0, .2)
}

.filterbar .filter-item.active .list {
	display: block;

}

.filterbar .filter-item.active .list .sort {
	padding: 0 .24rem .8rem;
}

.filterbar .filter-item.active .list .sort li {
	line-height: .8rem;
	border-bottom: 1px solid #f7f7f7;
	color: #666
}

.filterbar .filter-item.active .list .sort li.active {
	color: #ffab00;
}

.filterbar .filter-item.active .list .area {
	max-height: 4.4rem;
	overflow: hidden;
}


.filterbar .filter-item.active .list .area>ul.arealist {
	width: 3.18rem;

}

.filterbar .filter-item.active .list .area>ul li {
	line-height: .8rem;
	color: #666;
	font-size: .26rem;
	
}
.filterbar .filter-item.active .list .area>ul.arealist li{
	padding: 0 .24rem;background: #f5f5f5;
	
}
.filterbar .filter-item.active .list .area>ul.arealist li.active{
	background: #fff;
}
.filterbar .filter-item.active .list .area>ul.arealist li.right-arrow{
	position: relative;
	padding-right: .4rem;

}
.filterbar .filter-item.active .list .area>ul.arealist li.right-arrow:after{
	content: '';
	display: block;
	width: .16rem;
	height: 100%;
	position: absolute;
	background: url(../img/xq-jiantouhui@3x.png) no-repeat center center;
	background-size: contain;
	right: .2rem;
	
}
.filterbar .filter-item.active .list .area>ul.arealist+ul li{
	padding:0 .24rem 0 .36rem;
}
.filterbar .filter-item.active .list .spotstype{
	padding: .42rem .24rem .54rem;
}
.filterbar .filter-item.active .list .spotstype li{
	float: left;
	line-height: .5rem;
	border-radius: .5rem;
	text-align: center;
	font-size: .26rem;
	color: #4d4d4d;
	background: #f5f5f5;
	padding: 0 .3rem;margin-left: .14rem;
	margin-bottom: .4rem;
}.filterbar .filter-item.active .list .spotstype li.active{
	color: #fff;
	background: #ffab00;
}
.filterbar .filter-item.active .list .spotstype li:nth-child(4n+1){
	margin-left: 0;
}
.star-rating span {
	display: inline-block;
	width: .2rem;
	height: .18rem;
	background: url(../img/xq-star-g@3x.png) no-repeat center center;
	background-size: contain;
}

.star-rating span.active {
	background-image: url(../img/xq-starhuang@3x.png);
}

.star-rating span+span {
	margin-left: .05rem;
}

.bdline {
	height: 1px;
	background: #e6e6e6;
	transform: translateY(.5);
}

/* ticket */

.ticketlist .ticket-item {
	font-size: .26rem;
	padding: .3rem 0 .28rem;
	position: relative;
}

.ticketlist .ticket-item .name {
	font-size: .3rem;
	color: #333;
}

.ticketlist .ticket-item .name .thumb {
	font-size: .22rem;
	color: #ff5b5b;
	background: #ffe2e2;
	border-radius: .1rem;
	border-top-left-radius: 0;
	line-height: .32rem;
	padding: 0 .12rem;
}

.ticketlist .ticket-item .tag {
	-webkit-text-size-adjust: none;
	font-size: 0;
}

.ticketlist .ticket-item .tag {
	color: #999;
	font-size: .2rem;
	border: 1px solid #e6e6e6;
	border-radius: .05rem;
	display: inline-block;
	line-height: .3rem;
	padding: 0 .1rem;
	text-align: center;
}

.ticketlist .ticket-item .tag+.tag {
	margin-left: .08rem;
}

.ticketlist .ticket-item .discounttags .tag {
	color: #ff6666;
	font-size: .16rem;
	border-color: #ff6666;
	line-height: .26rem;
}

.ticketlist .ticket-item .price {
	font-size: .3rem;
	color: #ff4242;
}

.ticketlist .ticket-item .flex-1+div {
	text-align: right;
}

.ticketlist .ticket-item .m-price {
	color: #ccc;
	font-size: .22rem;
	text-decoration: line-through
}
.orderBtn{
	color: #333;
	font-size: .3rem;
	background-image: linear-gradient(90deg, #ffcf5b, #ffaf22);
	border-radius: .4rem;
	
	line-height: .6rem;
	text-align: center;
	display: block;
}
.ticketlist .ticket-item .orderBtn {
	width: 1.7rem;
	position: absolute;
	right: 0;
	bottom: .28rem;
}

.ticketlist .ticket-item:not(last-child):after,
.showmore:before,
.mod-buyinfo .mod-buyinfo-item:after{
	content: '';
	display: block;
	left: 0;
	right: 0;
	height: 1px;
	background: #e6e6e6;
	transform: translateY(.5);
	bottom: 0;
	position: absolute;

}

.showmore {
	color: #999;
	font-size: .26rem;
	display: block;
	line-height: 1rem;
	text-align: center;
	position: relative;
}

.showmore i {
	display: inline-block;
	background: url(../img/xq-jiantouhui@3x.png) no-repeat center center;
	background-size: contain;
	height: .16rem;
	width: .16rem;
	margin-left: .05rem;
}

.showmore:before {
	top: 0;
}

/* 问答 */
.questionlist .question-item {
	font-size: .26rem;
}

.questionlist .question-item .qt-title {
	color: #333;
	background: url(../img/xq-wen@3x.png) no-repeat left center;
	background-size: .36rem auto;
	padding-left: .5rem;
}

.questionlist .question-item .answer {
	color: #666;
	background: url(../img/xq-da@3x.png) no-repeat left center;
	background-size: .36rem auto;
	padding-left: .5rem;
}

.questionlist .question-item .tip a {
	color: #999;
	font-size: .22rem;
	margin-left: .5rem;
}

.questionlist .question-item .tip a i.eye,
.questionlist .question-item .tip a i.com {
	display: inline-block;
	height: .26rem;
	width: .26rem;
	background: url(../img/xq-chakan@3x.png) no-repeat center center;
	background-size: .26rem auto;
	vertical-align: middle;
	margin-right: .08rem;
}

.questionlist .question-item .tip a i+span {
	vertical-align: middle;
}

.questionlist .question-item .tip a i.com {
	background-image: url(../img/xq-pinglun@3x.png);
}

/* 景区列表 */

.spotslist .spots-item {
	padding-bottom: .4rem;
	font-size: .22rem;
	position: relative;
}

.spotslist .spots-item+.spots-item {
	padding-top: .4rem;
}

.filterbar+.spotslist .spots-item:first-child {
	padding-top: .4rem;
}

.spotslist .spots-item:not(:last-of-type):after,.comment .comment-item:not(:last-of-type):after,
.input-group .input-row:after{
	height: 1px;
	background: #e6e6e6;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	content: '';
	display: block;
	transform: scaleY(.5)
}

.spotslist .spots-item .imgbox {
	width: 2.4rem;
	border-radius: .1rem;
	overflow: hidden;
	margin-right: .3rem;

}

.spotslist .spots-item .imgbox img {
	display: block;
	width: 100%
}

.spotslist .spots-item .name {
	color: #333;
	font-size: .3rem;
}

.spotslist .spots-item .flex+p {
	color: #333;
	font-size: .22rem;
	margin-top: .3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.spotslist .spots-item .flex+p em {
	color: #999;
}

.spotslist .spots-item .tags {
	margin-top: .22rem;
}

.spotslist .spots-item .tags .tag {
	font-size: .16rem;
	display: inline-block;
	padding: 0.05rem .1rem;
	line-height: .22rem;
	border-radius: .05rem;
}

.spotslist .spots-item .tags .tag.b-tag {
	color: #008dff;
	background: #cee9ff;
}

.spotslist .spots-item .tags .tag.r-tag {
	color: #ffab00;
	background: #fff4d6;
}

.spotslist .spots-item .tags .tag.y-tag {
	color: #ff4e45;
	background: #ffebea;
}

.spotslist .spots-item .tags+p {

	color: #666;
	margin-top: .34rem;
}

.spotslist .spots-item .score {
	color: #ffab00;
	font-size: .22rem;
	margin-top: .1rem;
}

.spotslist .spots-item .score span {
	display: inline-block;
	vertical-align: middle;
}

.spotslist .spots-item .price {
	color: #999
}

.spotslist .spots-item .price span.red {
	color: #ff4e45;
}

.spotslist .spots-item .price span.num {
	font-size: .3rem;
}

/* 评论 */
.comment .comment-item{
	padding: .4rem 0;
	position: relative;
	font-size: .3rem;
	color: #666;
}
.comment .comment-item .userinfo .imgbox{
	width: .56rem;
	border-radius: 100%;
	overflow: hidden;
	margin-right: .2rem;
}.comment .comment-item .userinfo .imgbox img{
	display: block;
	width: 100%;
}
.comment .comment-item .userinfo .name{
	font-size: .24rem;
	color: #333;
}
.comment .comment-item .userinfo .time{
	font-size: .22rem;
	color: #999;
}.comment .comment-item .imglist{
	margin-top: .26rem;
	font-size: 0;
	margin-left: -.03rem;
	margin-left: -0.03rem;
}.comment .comment-item .imglist img{
	display: inline-block;
	width: 25%;
	padding: .1rem .03rem;
}
.shophandle{
	padding: .24rem 0;
	overflow: hidden;
}
.shophandle .minus,.shophandle .add{
	display: inline-block;
	height: .6rem;
	width: .6rem;
	background: no-repeat center center;
	background-size: contain;vertical-align: middle;
}
.shophandle .minus{
	background-image: url(../img/jian@3x.png);
}.shophandle .add{
	background-image: url(../img/jia@3x.png);
}
.shophandle input{
	text-align: center;
	width: .96rem;
	font-size: .3rem;
	line-height: .6rem;
	color: #333;
	border: none;
	vertical-align: middle;
}
.popup{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70%;
	background: #fff;
	z-index: 99;
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem;
	overflow: hidden;
	display: none;
}
.popup .input-group .input-row{
	padding: .4rem 0 ;
	position: relative;
	font-size: .3rem;
}
.popup .input-group .input-row label{
	display: block;
	width: 4em;
	margin-right: .48rem;
}
.popup .input-group .input-row input{
	border: none;
	background: none;
}.popup .input-group .input-row.input-row-clear i{
	display: block;
	height: .26rem;
	width: .26rem;
	background: url(../img/quxiao@3x.png) no-repeat center center;
	background-size: contain;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.popup .input-group .input-row.phonenum{
	background: url(../img/tongxunlu@3x.png) no-repeat right center;
	background-size: .36rem auto;
}.popup .input-group .input-row.phonenum.input-row-clear i{
	right: .5rem;
}