@charset "utf-8";

html {
	/*如果有溢出自动形成滚动条*/
	overflow-y: auto;
	/*不想让iPhone横坚屏切换的时候调节文字*/
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html * {
	/*所有元素*/
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*去除移动端开发点击事件灰色背景如a标签*/
}

body,
html {
	height: 100%;
}

body {
	font-size: .24rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Pingfang SC", "Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", "WenQuanYi Micro Hei", Arial, sans-serif;

}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0 none;
	width: auto\9;
	max-width: 100%;
	vertical-align: top;
	height: auto;
}

img:not([src]),
img[src=""] {
	opacity: 0
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: 500;
}

ol,
ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 500;
}

q:after,
q:before {
	/*在<q></q>标签之间的文字两头加上引号*/
	content: '';
}

a {
	text-decoration: none;
}

/*input*/
button {
	border: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	-webkit-appearance: button;
	/*渲染成button的风格*/
	text-transform: none;
	outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
	/*输入框提示语的字体样式*/
}

input::-webkit-inner-spin-button {
	/*解决input的type="number"在部分手机端会出现一个小按钮*/
	-webkit-appearance: none;
	/*去除系统默认appearance的样式,常用于IOS下移除原生样式*/
}

input::-webkit-outer-spin-button {
	/*解决input的type="number"在部分手机端会出现一个小按钮*/
	-webkit-appearance: none;
}

textarea {
	vertical-align: top;
}

button,
input {
	line-height: normal;
}

select {
	margin: 0;
	outline: 0;
}

input.fixAKeyboard:focus,
textarea.fixAndroidKeyboard:focus {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-modify: read-write-plaintext-only;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
}

button,
input[type=button],
input[type=checkbox],
input[type=reset],
input[type=submit],
label {
	cursor: pointer;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

input[type=submit] {
	-webkit-user-modify: read-plaintext-only;
	-moz-user-modify: read-plaintext-only;
	-ms-user-modify: read-plaintext-only;
	-o-user-modify: read-plaintext-only;
	user-modify: read-plaintext-only;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type='search'] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	/*所有元素以border开始计算盒子大小*/
}

.clearfix:after,
.clearfix:before {
	/*清除浮动*/
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.flex {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
}


/*垂直显示*/

.flex-v {
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	/* overflow: hidden */
}


/*垂直对其方式*/

.flex-align-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.flex-align-end {
	-webkit-box-align: flex-end;
	-webkit-align-items: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end
}

/*左右居中*/

.flex-pack-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}


/*两端对齐*/

.flex-pack-justify {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: .14rem;
}

.swiper-pagination-bullet {
	height: .12rem;
	width: .12rem;
	background: #fff;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background: #ffab00;
}

.bgfff {
	background: #fff;
}

.bgf5 {
	background: #f5f5f5;
}

.mt10 {
	margin-top: .1rem;
}
.ml15{
	margin-left:.15rem
}.mr15{
	margin-right:.15rem
}


.modbox .modbox-hd {
	height: .9rem;
	padding: 0 .24rem;
}

.modbox .modbox-hd .title {
	font-size: .36rem;
	color: #333;
}

.modbox .modbox-hd .more {
	color: #333;
	font-size: .3rem;
	position: relative;
	padding-right: .27rem;
}

.modbox .modbox-hd .more:after {
	content: '';
	display: block;
	width: .16rem;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: url(../img/mp01-gengduo@3x.png) no-repeat center center;
	background-size: contain;
}
.modbox .modbox-bd{
	position: relative;
}
.filterbar {
	position: absolute;
	font-size: .26rem;
	border-bottom: 1px solid #f7f7f7;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 1;

}
.filterbar.active{
	position: fixed;
}
.filterbar .filter-item {
	/* position:relative; */
}

.filterbar .filter-item .title {
	line-height: .8rem;
	text-align: center;
}

.filterbar .filter-item .title i {
	height: .2rem;
	width: .2rem;
	display: inline-block;
	background: url(../img/mp01-xianzexiala@3x.png) no-repeat center center;
	background-size: contain;
}
.filterbar .filter-item.active .title{
	color:#ffab00;
}
.filterbar .filter-item.active .title i{
	background-image: url(../img/mp01-huangxiala@3x.png);
}

.filterbar .line {
	height: .3rem;
	width: 1px;
	transform: scaleX(.5);
	background: #ccc;
}

.filterbar .filter-item .list {
	position: absolute;
	top: .81rem;
	left:0;
	right:0;
	background:#fff;
	display:none;
	padding-bottom:.8rem;
	box-shadow:0 .1rem .1rem rgba(0,0,0,.2)
	
}
.filterbar .filter-item.active .list{
	display:block;
	
}.filterbar .filter-item.active .list .sort {
	padding:0 .24rem;
}
.filterbar .filter-item.active .list .sort li{
	line-height:.8rem;
	border-bottom: 1px solid #f7f7f7;
	color:#666
}.filterbar .filter-item.active .list .sort li.active{
	color:#ffab00;
}